html {
  font-family: "Droid Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

input, select {
  border-color: #6e8c62;
}

fieldset {
  border: 0;
}

hr {
  border-color: #70ad55;
}
